{% extends 'base.html.twig' %}

{% block title %}Flysystem Images!{% endblock %}

{% block body %}

    {# cannot add count because images is an iterator #}
<h3>Assets in Flysystem</h3>
<div class="example-wrapper">
    <ul>
        {% for image in images %}
            <li>
                {{ image.path }} ({{ image.type }})
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
